<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>main</title>
</head>
<body>
   <h2>로그인 성공</h2>
  
   <span th:if=${session.KakaoUserid}!=null>
      <a href="/mypage">카카오 마이페이지</a>
      <form name="logout" action="http://localhost:8081/logout">
         <a href="https://kauth.kakao.com/oauth/logout?client_id=b4e15198a92c66541e626d75b50f81ec&logout_redirect_uri=http://localhost:8081/logout">
            카카오로그아웃
         </a><br>
      </form>
   </span>
   
    session 값 확인 : <p th:text="${session.loginid}"></p>
   <a href="/">인덱스</a>
   <a href="/mypage">마이페이지</a>
   <a href="/logout">로그아웃</a>
</body>
</html>